<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.mottem.fzi/ptspec/dsl/PTSpec" 
       class = "fzi.mottem.ptspec.dsl.pTSpec.PTSpecPackage"
       genModel = "src-gen/fzi/mottem/ptspec/dsl/PTSpec.genmodel" /> 
  </extension>

</plugin>
