<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
   <extension-point id="runtestlistener" name="Run Test Listener" schema="schema/runtestlistener.exsd"/>

    <extension
            point="org.eclipse.ui.editors">
        <editor
            class="fzi.mottem.ptspec.dsl.ui.PTSpecExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="pts"
            icon="icons/pts_file.gif"
            id="fzi.mottem.ptspec.dsl.PTSpec"
            name="PTSpec Editor">
        </editor>
    </extension>

    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="fzi.mottem.ptspec.dsl.ui.PTSpecExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="fzi.mottem.ptspec.dsl.PTSpec.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="fzi.mottem.ptspec.dsl.ui.PTSpecExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="fzi.mottem.ptspec.dsl.PTSpec.validate">
         <activeWhen>
            <reference
                    definitionId="fzi.mottem.ptspec.dsl.PTSpec.Editor.opened">
            </reference>
         </activeWhen>
      	</handler>
      	<!-- copy qualified name -->
        <handler
            class="fzi.mottem.ptspec.dsl.ui.PTSpecExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedNameHandler"
            commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName">
            <activeWhen>
				<reference definitionId="fzi.mottem.ptspec.dsl.PTSpec.Editor.opened" />
            </activeWhen>
        </handler>
        <handler
            class="fzi.mottem.ptspec.dsl.ui.PTSpecExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedNameHandler"
            commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName">
            <activeWhen>
            	<and>
            		<reference definitionId="fzi.mottem.ptspec.dsl.PTSpec.XtextEditor.opened" />
	                <iterate>
						<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
					</iterate>
				</and>
            </activeWhen>
        </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="fzi.mottem.ptspec.dsl.PTSpec.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="fzi.mottem.ptspec.dsl.PTSpec" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
        <definition id="fzi.mottem.ptspec.dsl.PTSpec.XtextEditor.opened">
            <and>
                <reference definitionId="isXtextEditorActive"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="fzi.mottem.ptspec.dsl.PTSpec" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
            class="fzi.mottem.ptspec.dsl.ui.PTSpecExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="fzi.mottem.ptspec.dsl.PTSpec"
            name="ES TDK">
            <keywordReference id="fzi.mottem.ptspec.dsl.ui.keyword_PTSpec"/>
        </page>
        <page
            category="fzi.mottem.ptspec.dsl.PTSpec"
            class="fzi.mottem.ptspec.dsl.ui.PTSpecExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="fzi.mottem.ptspec.dsl.PTSpec.coloring"
            name="Syntax Coloring">
            <keywordReference id="fzi.mottem.ptspec.dsl.ui.keyword_PTSpec"/>
        </page>
        <page
            category="fzi.mottem.ptspec.dsl.PTSpec"
            class="fzi.mottem.ptspec.dsl.ui.PTSpecExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="fzi.mottem.ptspec.dsl.PTSpec.templates"
            name="Templates">
            <keywordReference id="fzi.mottem.ptspec.dsl.ui.keyword_PTSpec"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            class="fzi.mottem.ptspec.dsl.ui.PTSpecExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="fzi.mottem.ptspec.dsl.PTSpec"
            name="ES TDK">
            <keywordReference id="fzi.mottem.ptspec.dsl.ui.keyword_PTSpec"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="fzi.mottem.ptspec.dsl.ui.keyword_PTSpec"
            label="ES TDK"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="fzi.mottem.ptspec.dsl.PTSpec.validate"
            name="Validate">
      </command>
      <!-- copy qualified name -->
      <command
            id="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
            categoryId="org.eclipse.ui.category.edit"
            description="Copy the qualified name for the selected element"
            name="Copy Qualified Name">
      </command>
      <command
            id="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName"
            categoryId="org.eclipse.ui.category.edit"
            description="Copy the qualified name for the selected element"
            name="Copy Qualified Name">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="fzi.mottem.ptspec.dsl.PTSpec.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="fzi.mottem.ptspec.dsl.PTSpec.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
         <!-- copy qualified name -->
         <menuContribution locationURI="popup:#TextEditorContext?after=copy">
         	<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName" 
         		style="push" tooltip="Copy Qualified Name">
            	<visibleWhen checkEnabled="false">
                	<reference definitionId="fzi.mottem.ptspec.dsl.PTSpec.Editor.opened" />
            	</visibleWhen>
         	</command>  
         </menuContribution>
         <menuContribution locationURI="menu:edit?after=copy">
         	<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
            	style="push" tooltip="Copy Qualified Name">
            	<visibleWhen checkEnabled="false">
                	<reference definitionId="fzi.mottem.ptspec.dsl.PTSpec.Editor.opened" />
            	</visibleWhen>
         	</command>  
         </menuContribution>
         <menuContribution locationURI="popup:org.eclipse.xtext.ui.outline?after=additions">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName" 
				style="push" tooltip="Copy Qualified Name">
         		<visibleWhen checkEnabled="false">
	            	<and>
	            		<reference definitionId="fzi.mottem.ptspec.dsl.PTSpec.XtextEditor.opened" />
						<iterate>
							<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
						</iterate>
					</and>
				</visibleWhen>
			</command>
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="fzi.mottem.ptspec.dsl.PTSpec.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	    <handler
            class="fzi.mottem.ptspec.dsl.ui.PTSpecExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="fzi.mottem.ptspec.dsl.PTSpec.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   

<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="fzi.mottem.ptspec.dsl.ui.PTSpecExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="pts">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="fzi.mottem.ptspec.dsl.ui.PTSpecExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="pts">
        </resourceServiceProvider>
    </extension>


	<!-- marker definitions for fzi.mottem.ptspec.dsl.PTSpec -->
	<extension
	        id="ptspec.check.fast"
	        name="PTSpec Problem"
	        point="org.eclipse.core.resources.markers">
	    <super type="org.eclipse.xtext.ui.check.fast"/>
	    <persistent value="true"/>
	</extension>
	<extension
	        id="ptspec.check.normal"
	        name="PTSpec Problem"
	        point="org.eclipse.core.resources.markers">
	    <super type="org.eclipse.xtext.ui.check.normal"/>
	    <persistent value="true"/>
	</extension>
	<extension
	        id="ptspec.check.expensive"
	        name="PTSpec Problem"
	        point="org.eclipse.core.resources.markers">
	    <super type="org.eclipse.xtext.ui.check.expensive"/>
	    <persistent value="true"/>
	</extension>

   <extension
         point="org.eclipse.xtext.builder.participant">
      <participant
            class="fzi.mottem.ptspec.dsl.ui.PTSpecExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant">
      </participant>
   </extension>
   <extension
            point="org.eclipse.ui.preferencePages">
        <page
            category="fzi.mottem.ptspec.dsl.PTSpec"
            class="fzi.mottem.ptspec.dsl.ui.PTSpecExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="fzi.mottem.ptspec.dsl.PTSpec.compiler.preferencePage"
            name="Compiler">
            <keywordReference id="fzi.mottem.ptspec.dsl.ui.keyword_PTSpec"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            category="fzi.mottem.ptspec.dsl.PTSpec"
            class="fzi.mottem.ptspec.dsl.ui.PTSpecExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="fzi.mottem.ptspec.dsl.PTSpec.compiler.propertyPage"
            name="Compiler">
            <keywordReference id="fzi.mottem.ptspec.dsl.ui.keyword_PTSpec"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>

	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="fzi.mottem.ptspec.dsl.ui.PTSpecExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="fzi.mottem.ptspec.dsl.PTSpec.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="fzi.mottem.ptspec.dsl.PTSpec.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
    <!-- quickfix marker resolution generator for fzi.mottem.ptspec.dsl.PTSpec -->
    <extension
            point="org.eclipse.ui.ide.markerResolution">
        <markerResolutionGenerator
            class="fzi.mottem.ptspec.dsl.ui.PTSpecExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="fzi.mottem.ptspec.dsl.ui.ptspec.check.fast">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="fzi.mottem.ptspec.dsl.ui.PTSpecExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="fzi.mottem.ptspec.dsl.ui.ptspec.check.normal">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="fzi.mottem.ptspec.dsl.ui.PTSpecExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="fzi.mottem.ptspec.dsl.ui.ptspec.check.expensive">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
    </extension>
   	<!-- Rename Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="fzi.mottem.ptspec.dsl.ui.PTSpecExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.DefaultRenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="fzi.mottem.ptspec.dsl.PTSpec.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
    <extension point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
         <command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
               style="push">
            <visibleWhen checkEnabled="false">
               <reference
                     definitionId="fzi.mottem.ptspec.dsl.PTSpec.Editor.opened">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
	    <page
	        category="fzi.mottem.ptspec.dsl.PTSpec"
	        class="fzi.mottem.ptspec.dsl.ui.PTSpecExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.RefactoringPreferencePage"
	        id="fzi.mottem.ptspec.dsl.PTSpec.refactoring"
	        name="Refactoring">
	        <keywordReference id="fzi.mottem.ptspec.dsl.ui.keyword_PTSpec"/>
	    </page>
	</extension>

  <extension point="org.eclipse.compare.contentViewers">
    <viewer id="fzi.mottem.ptspec.dsl.PTSpec.compare.contentViewers"
            class="fzi.mottem.ptspec.dsl.ui.PTSpecExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="pts">
    </viewer>
  </extension>
  <extension point="org.eclipse.compare.contentMergeViewers">
    <viewer id="fzi.mottem.ptspec.dsl.PTSpec.compare.contentMergeViewers"
            class="fzi.mottem.ptspec.dsl.ui.PTSpecExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="pts" label="PTSpec Compare">
     </viewer>
  </extension>
  <extension point="org.eclipse.ui.editors.documentProviders">
    <provider id="fzi.mottem.ptspec.dsl.PTSpec.editors.documentProviders"
            class="fzi.mottem.ptspec.dsl.ui.PTSpecExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
            extensions="pts">
    </provider>
  </extension>
  <extension
        point="org.eclipse.ui.newWizards">
     <category
           id="fzi.mottem.ptspec.newWizards"
           name="ES TDK">
     </category>
     <wizard
           category="fzi.mottem.ptspec.newWizards"
           class="fzi.mottem.ptspec.dsl.ui.wizards.NewPTSpecWizard"
           icon="icons/new_ptspec_file.gif"
           id="fzi.mottem.ptspec.dsl.ui.wizards.NewPTSpecWizard"
           name="PTSpec File">
     </wizard>
  </extension>
  <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="fzi.mottem.ptspec.newWizards"
            class="fzi.mottem.ptspec.dsl.ui.PTSpecExecutableExtensionFactory:fzi.mottem.ptspec.dsl.ui.wizard.PTSpecNewProjectWizard"
            id="fzi.mottem.ptspec.dsl.ui.wizard.PTSpecNewProjectWizard"
            icon="icons/pts_project.gif"
            name="ES TDK Project"
            project="true">
      </wizard>
   </extension>


   <!-- PTSpec Nature -->

   <extension 
   	id="ptspecNature" 
   	name="PTSpec Nature"
   	point="org.eclipse.core.resources.natures"> 
      <runtime> 
         <run class="fzi.mottem.ptspec.dsl.ui.nature.PTSpecNature"/> 
      </runtime>
   </extension>
   
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="fzi.mottem.ptspec.dsl.ui.nature.PTSpecDecorator"
            icon="icons/pts_project.gif"
            id="fzi.mottem.ptspec.dsl.ui.ptspecDecorator"
            label="PTSpecDecorator"
            lightweight="true"
            location="REPLACE"
            state="true">
         <enablement>
           <objectClass
                 name="org.eclipse.core.resources.IProject">
           </objectClass>
         </enablement>
      </decorator>
   </extension>
   

   <!-- PTSpec Menu -->
    
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="fzi.mottem.ptspec.dsl.ui.PTSpecExecutableExtensionFactory:fzi.mottem.ptspec.compiler.ui.commands.PTSCompileAllCommand"
            commandId="fzi.mottem.ptspec.compiler.commands.compileAll">
      </handler>
   </extension>

   <extension point="org.eclipse.ui.commands">
      <category
            id="fzi.mottem.ptspec.compiler.commandsCategory"
            name="PTSpec Compiler Commands">
      </category>
      <command
            categoryId="fzi.mottem.ptspec.compiler.commandsCategory"
            id="fzi.mottem.ptspec.compiler.commands.compileAll"
            name="Compile all">
      </command>
   </extension>

   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="fzi.mottem.ptspec.menu"
               label="ES TDK"
               mnemonic="E">
            <command
                  commandId="fzi.mottem.ptspec.compiler.commands.compileAll"
                  id="fzi.mottem.ptspec.menu.compileAll"
                  mnemonic="C">
            </command>
            <separator name="CompilerAdditions" visible="false"/>
            <separator name="-" visible="true"/>
            <separator name="RuntimeAdditions" visible="false"/>
            <separator name="-" visible="true"/>
            <separator name="UtilAdditions" visible="false"/>
         </menu>
      </menuContribution>
   </extension>
   
   <!-- Intro -->
    
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="fzi.mottem.ptspec.dsl.ui.intro"
            label="ES TDK Intro">
      </intro>
      <introProductBinding
            introId="fzi.mottem.ptspec.dsl.ui.intro"
            productId="org.eclipse.platform.ide">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            content="introContent.xml"
            id="fzi.mottem.ptspec.dsl.ui.introConfigId"
            introId="fzi.mottem.ptspec.dsl.ui.intro">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx"
                  style="content/shared.css">
            </implementation>
         </presentation>
      </config>
   </extension>
   
</plugin>
