<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="fzi.mottem.runtime.runtestlistener"
         point="fzi.mottem.ptspec.dsl.ui.runtestlistener">
      <client
            class="fzi.mottem.runtime.RunTestListener">
      </client>
   </extension>

</plugin>
