<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension point="org.eclipse.ui.popupMenus"> 
	<objectContribution 
	      id="org.eclipse.ui.articles.action.contribution.popup.object"
	   objectClass="fzi.mottem.ptspec.dsl.pTSpec.PTSTestDeclaration">
	      <action
	         id="customnavigator.run" 
	         label="Run"
	         icon="icons/run_test.gif"
	         menubarPath="additions" 
	      class="fzi.mottem.runtime.navigator.commands.RunTest"> 
	      </action> 
	   </objectContribution> 
	   <objectContribution 
	      id="org.eclipse.ui.articles.action.contribution.popup.object"
	   objectClass="fzi.mottem.ptspec.dsl.pTSpec.PTSTestSuiteDeclaration">
	      <action
	         id="customnavigator.runall" 
	         label="Run All Tests"
	         icon="icons/run_test.gif"
	         menubarPath="additions" 
	      class="fzi.mottem.runtime.navigator.commands.RunAllTests"> 
	      </action> 
	   </objectContribution> 
	   
	</extension>
	
	<extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="fzi.mottem.runtime.navigator.elementSelected">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
            </iterate>
         </with>
      </definition>
      <definition
            id="fzi.mottem.runtime.navigator.projectSelected">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
            </iterate>
         </with>
      </definition>
   </extension>
	
	
	<!--
   <extension
         point="org.eclipse.ui.navigator.viewer" >  
      <viewerContentBinding
            viewerId="customplugin.navigator" >
         <includes>
            <contentExtension
                  pattern="customnavigator.navigatorContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="fzi.mottem.runtime.navigator.navigator.ContentProvider"
            id="customnavigator.navigatorContent"
            labelProvider="fzi.mottem.runtime.navigator.navigator.LabelProvider"
            name="ETSpec Content">
         <triggerPoints>
            <instanceof
                  value="org.eclipse.core.internal.resources.WorkspaceRoot">
            </instanceof>
         </triggerPoints>
      </navigatorContent>
   </extension>
  
   -->
   
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="fzi.mottem.runtime.navigator.navigator.ContentProvider2"
            id="customnavigator.navigatorContent2"
            labelProvider="fzi.mottem.runtime.navigator.navigator.LabelProvider"
            name="ETSpec Content"
            priority="normal">         <triggerPoints>
         	<or> 
			<instanceof value="org.eclipse.core.resources.IResource"/> 
			<instanceof value="org.eclipse.core.resources.IFile"/> 
			<instanceof value="fzi.mottem.ptspec.dsl.pTSpec.PTSTargetDeclaration"/> 
			<instanceof value="fzi.mottem.ptspec.dsl.pTSpec.PTSTestDeclaration"/> 
			<instanceof value="fzi.mottem.ptspec.dsl.pTSpec.PTSTestSuiteDeclaration"/> 
			<instanceof value="fzi.mottem.ptspec.dsl.pTSpec.PTSPackageDeclaration"/> 
			</or> 
		</triggerPoints> 
		<possibleChildren> 
			<or> 
				<instanceof value="org.eclipse.emf.ecore.resource.Resource"/> 
				<instanceof value="fzi.mottem.ptspec.dsl.pTSpec.PTSRoot"/> 
				<instanceof value="fzi.mottem.ptspec.dsl.pTSpec.PTSTargetDeclaration"/> 
				<instanceof value="fzi.mottem.ptspec.dsl.pTSpec.PTSTestDeclaration"/> 
				<instanceof value="fzi.mottem.ptspec.dsl.pTSpec.PTSTestSuiteDeclaration"/> 
				<instanceof value="fzi.mottem.ptspec.dsl.pTSpec.PTSPackageDeclaration"/> 
			</or> 
		</possibleChildren>  
      </navigatorContent>
   </extension>
   
   <extension
         point="org.eclipse.ui.navigator.viewer" >  
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer" >
         <includes>
            <contentExtension
                  pattern="customnavigator.navigatorContent2">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>

</plugin>
