<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension point="org.eclipse.ui.popupMenus"> 
	<objectContribution 
	      id="org.eclipse.ui.articles.action.contribution.popup.object"
	   objectClass="fzi.mottem.ptspec.dsl.pTSpec.PTSTestDeclaration">
	      <action
	         id="fzi.mottem.runtime.navigator.run" 
	         label="Execute Test"
	         icon="icons/run_test.gif"
	         menubarPath="additions"
	         class="fzi.mottem.runtime.navigator.commands.RunTest"> 
	      </action> 
	   </objectContribution> 
	   <objectContribution 
	      id="org.eclipse.ui.articles.action.contribution.popup.object"
	   objectClass="fzi.mottem.ptspec.dsl.pTSpec.PTSTestSuiteDeclaration">
	      <action
	         id="fzi.mottem.runtime.navigator.runall" 
	         label="Execute All Tests"
	         icon="icons/run_test.gif"
	         menubarPath="additions"
	         class="fzi.mottem.runtime.navigator.commands.RunAllTests">
	      </action> 
	   </objectContribution> 
	</extension>
	
    <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            id="fzi.mottem.runtime.navigator.navigatorContent"
            name="ES TDK Elements"
            activeByDefault="true"
            contentProvider="fzi.mottem.runtime.navigator.PTSpecContentProvider"
            labelProvider="fzi.mottem.ptspec.dsl.ui.PTSpecExecutableExtensionFactory:fzi.mottem.ptspec.dsl.ui.labeling.PTSpecLabelProvider"
            priority="highest">
		<triggerPoints>
         	<or> 
				<instanceof value="org.eclipse.core.resources.IResource"/> 
				<instanceof value="org.eclipse.core.resources.IFile"/> 
				<instanceof value="fzi.mottem.ptspec.dsl.pTSpec.PTSTargetDeclaration"/>
				<instanceof value="fzi.mottem.ptspec.dsl.pTSpec.PTSTestDeclaration"/>
				<instanceof value="fzi.mottem.ptspec.dsl.pTSpec.PTSTestSuiteDeclaration"/>
				<instanceof value="fzi.mottem.ptspec.dsl.pTSpec.PTSPackageDeclaration"/>
			</or> 
		</triggerPoints> 
		<possibleChildren>
			<or> 
				<instanceof value="fzi.mottem.ptspec.dsl.pTSpec.PTSTargetDeclaration"/>
				<instanceof value="fzi.mottem.ptspec.dsl.pTSpec.PTSTestDeclaration"/>
				<instanceof value="fzi.mottem.ptspec.dsl.pTSpec.PTSTestSuiteDeclaration"/>
				<instanceof value="fzi.mottem.ptspec.dsl.pTSpec.PTSPackageDeclaration"/>
			</or>
		</possibleChildren>
      </navigatorContent>
   </extension>
   
   <extension
         point="org.eclipse.ui.navigator.viewer">  
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="fzi.mottem.runtime.navigator.navigatorContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>

</plugin>
